{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-es2015-spread",
    "transform-object-rest-spread",
    ["babel-plugin-module-resolver", {
      "alias": {
        // This will cause require paths starting with `/` to resolve to the
        // `src` directory. i.e. `/app.js` resolves to `src/app.js`.
        "": "./src"
      }
    }],
    ["./node_modules/babel-plugin-jsx-import/src/index.js", {
      "identifier": "Preact",
      "moduleName": "preact"
    }],
    ["transform-react-jsx", {"pragma": "Preact.h"}]
  ]
}